.header {
  position: relative;
  background-color: #08090f;
  color: white;
  box-shadow: 0px -1.5px 6px #259dff;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: 1200px) {
    padding: 0 30px;
  }
}

.logoLink {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  > span {
    font-size: 1rem;
    text-transform: capitalize;
    @media screen and (min-width: 480px) {
      font-size: 1.3rem;
    }
  }
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: block;
  padding: 15px 10px;
  @media screen and (min-width: 480px) {
    padding: 15px 20px;
  }

  &:hover {
    background-color: rgb(240, 248, 255, 0.15);
  }
}

.linkActive {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: blue;
    border-radius: 10px;
  }
}

.rightSide {
  position: relative;
  display: flex;
  gap: 1rem;
  justify-self: right;
}

.lngMenu {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: rgb(58, 58, 58, 0.7);
  border-radius: 5px;
  transform: translate(-50%, 112%);
}

.lngMenuOpen {
  @media screen and (min-width: 480px) {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}

.lngBtn {
  display: none;
  @media screen and (min-width: 480px) {
    display: block;
  }
}