.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}

.text {
  font-size: 15px;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.changeLngText {
  margin-top: 1rem;
  font-size: 17px;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    font-size: 23px;
  }
}

.lngBtnContainer {
  display: flex;
  gap: 2rem;
}

.toNewsBtn {
  padding: 8px 20px;
}
